# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Ansible
*.retry

# K8s
*.kubeconfig
Ingestion/src/venv/
secrets/*.yaml
Ingestion/src/venv/


venv/
.venv/
env/
ENV/